<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->

<html lang="en">
<!--<![endif]-->

<head>
	<title>IBM Hackathon</title>
	<!-- Meta -->

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap -->
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
	<!-- Style CSS -->
	<link href="stylesheets/style.css" rel="stylesheet">
</head>

<body data-spy="scroll">

	<div class="jumbotron" style>
		<h1 class="display-4">THINK SMART !</h1>
		<h3>Visit the IBM Booth for more details!</h3>
		<hr class="my-4">
		<p>BE PART OF THE IBM HACkathon on Future Technologies for a Smart , Safe and Sustainable World and create better solutions for real world problems....</p>
	</div>

<!--	<div style="width:1600px;height:700px" class="border border-primary">

		<section id="promo" class="promo section offset-header">
			<div class="container text-center">
				<h3 class="title">THINK SMART ! </span></h3>
				<h3 class="title2">Visit the IBM Booth for more details ! </h3>
				<p class="intro">BE PART OF THE IBM HACkathon on Future Technologies for a Smart , Safe and Sustainable World and create better solutions for real world problems....
				</p>
				<h4>Hack ON! </h4>

			</div>

		</section>

	</div> -->



	<!-- Javascript -->
	<script type="text/javascript" src="assets/plugins/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
	<script type="text/javascript" src="assets/plugins/prism/prism.js"></script>
	<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>