<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Supply Chain ERP</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/plugins/prism/prism.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="public/stylesheets/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll">

    <!---//Facebook button code-->
    <div id="fb-root"></div>
    

<div style="width:1600px;height:700px" class="border border-primary">
    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h3 class="title">THINK SMART ! </span></h3>
 <h3 class="title2">Visit the IBM Booth for more details ! </h3>
            <p class="intro">BE  PART OF THE IBM HACkathon on Future Technologies for a Smart , Safe and Sustainable World  
and create better solutions for real world problems....
</p>
<h4>Hack ON! </h4>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="/create" target="_blank">Create Purchase Order</a>
                <a class="btn btn-cta-primary" href="/search" target="_blank">Search Purchase Order</a>
            </div>
            <ul class="meta list-inline">
                <li><a href="https://github.com/harsha544/supplier-retailer-app" target="_blank">View on GitHub</a></li>


            </ul><!--//meta-->
        </div><!--//container-->
    </section><!--//promo-->
</div>



    <!-- Javascript -->
    <script type="text/javascript" src="assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="assets/plugins/prism/prism.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>
